<body>
    <header #menu>
        <a routerLink="/home" class="logo">FUTURE</a>
        <ul>
            <li><a routerLink="/contato">Contato</a></li>
        </ul>
    </header>
    <section>
        <img src="../../assets/stars.png" alt="" id="stars" #stars>
    </section>
    <div class="cube">
        <div>
            <div class="top"></div>
            
            <span style="--i:0;">
            <h2>CRIE</h2>
            <h2>CRIE</h2>
            </span>
            <span style="--i:1;">
                <h2>PROJETE</h2>
                <h2>PROJETE</h2>
            </span>
            <span style="--i:2;">
                <h2>EVOLUA</h2>
                <h2>EVOLUA</h2>
            </span>
            <span style="--i:3;">
                <h2>FOCO</h2>
                <h2>FOCO</h2>
            </span>
        </div>
    </div>
</body>  