body{
    min-height: 100vh;
    background: linear-gradient( #7597de, #1c0522);
}



/*#stars {                                                    //movimento infinito das estrelas
    animation: starsanin 10s ease-in-out infinite alternate;
}
    @keyframes starsanin {
        from{
            transform:translateX(-30px);
        }
        to{
            transform: translateX(20px);
        }
    }*/