<body>
    <header #menu>
        <a href="#" class="logo">FUTURE</a>
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Work</a></li>
            <li><a routerLink="/contato">Contato</a></li>
        </ul>
    </header>
    <section>
        <img src="../../assets/stars.png" alt="" id="stars" #stars>
        <img src="../../assets/moon.png" alt="" id="moon" #moon>
        <img src="../../assets/mountains_behind.png" alt="" id="mountains_behind" #mountains_behind>
        <h2 id="text" #text>Um futuro...</h2>
        <a routerLink="/explore" id="btn" #btn>Explore</a>
        <img src="../../assets/mountains_front.png" alt="" id="mountains_front" #mountains_front>
    </section>

    <div class="sec" id="sec" >
        <div class="textInfo" #textInfo>
            <h2>Buscando Algo além...</h2>
            <p>Não nascemos prontos (...) é absurdo acreditar na idéia de que uma pessoa, 
                quanto mais vive, mais velha fica; para que alguém quanto mais vivesse, mais velho ficasse, 
                teria de ter nascido pronto e ir se gastando...
                Isso não ocorre com gente, mas com fogão, sapato, geladeira. Gente não nasce pronta e 
                vai se gastando; gente nasce não-pronta e vai se fazendo. Eu, no ano 2022, sou a minha mais nova edição 
                (revista e, às vezes, um pouco ampliada)<br><br>
    
                A sua vida depende das suas escolhas e das suas decisões. Escolha ser feliz em todos os dias, 
                batalhe pelos seus sonhos e acredite no seu potencial. Só você pode lutar pelas suas metas e 
                correr atrás da sua felicidade. Faça a sua parte e não se arrependa da vida que você conduz!
                Está na hora de você acreditar mais nos seus sonhos e não desistir da sua felicidade. 
                Você precisa parar de dar ouvidos à opinião alheia e continuar motivado em busca das suas realizações. 
                Nada é impossível, acredite no seu potencial!<br><br>
    
                São os sonhos que nos fazem viver, são eles que nos levam a acordar todos os dias com uma grande 
                motivação para enfrentarmos cada desafio. É a perspetiva de realizarmos projetos e concretizarmos objetivos 
                pessoais que nos induz a acreditarmos que podemos realmente vencer. 
                Então, sonhe sem limites e dê asas à sua imaginação.É verdade que às vezes vislumbramos cenários que não se 
                tornam possíveis, e muitas vezes as dificuldades que nos surgem trazem cansaço e parecem tornar nossa 
                batalha cada vez mais difícil. Mas quanto maior for a nossa meta, maior também será a nossa recompensa, 
                e tentar será sempre a garantia de que fizemos tudo por aquilo que queríamos. Por isso, 
                não desista seja qual for a sua situação. Deixe que seus sonhos comandem os passos que dá e os caminhos que escolhe,
                e seja feliz por fazer da persistência o seu maior aliado.<br><br>
            </p>
                
            <h4>    
                “Um dos meus dias mais produtivos foi quando eu joguei fora 1000 linhas de código.” – Ken Thompson<br><br>
    
                “Inspecionar para prevenir defeitos é bom; Inspecionar para encontrar defeitos é desperdício.” – Shigeo Shingo<br><br>
    
                “Medir o progresso da programação por linhas de código é como medir o progresso da construção de aeronaves em termos de peso.” – Bill Gates<br><br>
    
                “Qualquer um pode escrever um código que o computador entenda. Bons programadores escrevem códigos que os humanos entendam.” – Martin Fowler<br><br>
    
                “Não é a linguagem de programação que define o programador, mas sim sua lógica.” – David Ribeiro Guilherme
            </h4>
        </div>

    </div>
</body>