<body>
    <header #menu>
        <a href="#" class="logo">FUTURE</a>
        <ul>
            <li><a routerLink="home">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Work</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </header>
    <section>
        <img src="../../assets/stars.png" alt="" id="stars" #stars>
        <img src="../../assets/moon.png" alt="" id="moon" #moon>
        <img src="../../assets/mountains_behind.png" alt="" id="mountains_behind" #mountains_behind>
        <h2 id="text" #text>Um futuro nas estrelas</h2>
        <a href="#sec" id="btn" #btn>Explore</a>
        <img src="../../assets/mountains_front.png" alt="" id="mountains_front" #mountains_front>
    </section>

    <div class="sec" id="sec">
        <h2>Parallax Scrolling Effect</h2>
        <p>Não nascemos prontos (...) é absurdo acreditar na idéia de que uma pessoa, 
            quanto mais vive, mais velha fica; para que alguém quanto mais vivesse, mais velho ficasse, 
            teria de ter nascido pronto e ir se gastando...
            Isso não ocorre com gente, mas com fogão, sapato, geladeira. Gente não nasce pronta e 
            vai se gastando; gente nasce não-pronta e vai se fazendo. Eu, no ano 2000, sou a minha mais nova edição 
            (revista e, às vezes, um pouco ampliada)<br>
            Não nascemos prontos (...) é absurdo acreditar na idéia de que uma pessoa, 
            quanto mais vive, mais velha fica; para que alguém quanto mais vivesse, mais velho ficasse, 
            teria de ter nascido pronto e ir se gastando...
            Isso não ocorre com gente, mas com fogão, sapato, geladeira. Gente não nasce pronta e 
            vai se gastando; gente nasce não-pronta e vai se fazendo. Eu, no ano 2000, sou a minha mais nova edição 
            (revista e, às vezes, um pouco ampliada)<br><br>
            Não nascemos prontos (...) é absurdo acreditar na idéia de que uma pessoa, 
            quanto mais vive, mais velha fica; para que alguém quanto mais vivesse, mais velho ficasse, 
            teria de ter nascido pronto e ir se gastando...
            Isso não ocorre com gente, mas com fogão, sapato, geladeira. Gente não nasce pronta e 
            vai se gastando; gente nasce não-pronta e vai se fazendo. Eu, no ano 2000, sou a minha mais nova edição 
            (revista e, às vezes, um pouco ampliada)
            Não nascemos prontos (...) é absurdo acreditar na idéia de que uma pessoa, 
            quanto mais vive, mais velha fica; para que alguém quanto mais vivesse, mais velho ficasse, 
            teria de ter nascido pronto e ir se gastando...
            Isso não ocorre com gente, mas com fogão, sapato, geladeira. Gente não nasce pronta e 
            vai se gastando; gente nasce não-pronta e vai se fazendo. Eu, no ano 2000, sou a minha mais nova edição 
            (revista e, às vezes, um pouco ampliada)
            Não nascemos prontos (...) é absurdo acreditar na idéia de que uma pessoa, 
            quanto mais vive, mais velha fica; para que alguém quanto mais vivesse, mais velho ficasse, 
            teria de ter nascido pronto e ir se gastando...
            Isso não ocorre com gente, mas com fogão, sapato, geladeira. Gente não nasce pronta e 
            vai se gastando; gente nasce não-pronta e vai se fazendo. Eu, no ano 2000, sou a minha mais nova edição 
            (revista e, às vezes, um pouco ampliada)<br><br>
            Não nascemos prontos (...) é absurdo acreditar na idéia de que uma pessoa, 
            quanto mais vive, mais velha fica; para que alguém quanto mais vivesse, mais velho ficasse, 
            teria de ter nascido pronto e ir se gastando...
            Isso não ocorre com gente, mas com fogão, sapato, geladeira. Gente não nasce pronta e 
            vai se gastando; gente nasce não-pronta e vai se fazendo. Eu, no ano 2000, sou a minha mais nova edição 
            (revista e, às vezes, um pouco ampliada)
        </p>
    </div>
</body>