/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

header{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;

    & .logo{
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: white;
        font-weight: 700;
        text-decoration: none;
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    & ul{
        display: flex;
        justify-content: center;
        align-items: center;    
    }
    
    & ul li{
        list-style: none;
        margin-left: 20px; 
    }
    
    & ul li a {
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-decoration: none;
        padding: 6px 15px;
        color: white;
        border-radius: 20px;
    
        &:hover, &:active{
            background: white;
            color: black;
        }
    }
}

